.content-container {
  display: flex;
  flex-direction: column;
}

.loan-content, .payment-content {
  margin-top: 20px;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  padding: 10px;
}

.loan-content h2, .payment-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.loan-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loan-item {
  flex-basis: calc(14.2857% - 20px);
  max-width: calc(14.2857% - 20px);
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 8px;
}

.loan-actions {
  margin-top: 10px;
}

.payment-table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 40px;
}

.payment-table td, .payment-table th {
  padding: 6px;
  text-align: left;
  position: relative;
}

.payment-table td button {
  transform: translateX(10%);
}

.payment-table tr:nth-child(odd) {
  background-color: rgb(175, 175, 175);
}

button {
  background-color: rgb(255, 99, 71);
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(216, 67, 21);
}

.filter-sorting {
  margin-left: 40px;
  padding: 0 0 10px 0;
}

.filter-sorting select {
  margin-left: 5px;
}
