.content-container {
  display: flex;
  flex-direction: column;
}

.loan-content, .payment-content {
  margin-top: 20px;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
  padding: 10px;
}

.loan-content h2, .payment-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.loan-header, .payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loan-header h2, .payment-header h2 {
  margin: 0;
}

.loan-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.loan-item {
  flex-basis: calc(14.2857% - 20px);
  max-width: calc(14.2857% - 20px);
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 8px;
}

.loan-actions {
  margin-top: 10px;
}

.payment-table {
  border-collapse: collapse;
  width: 95%;
  margin-left: 40px;
}

.payment-table td, .payment-table th {
  padding: 6px;
  text-align: left;
  position: relative;
}

.payment-table td button {
  transform: translateX(10%);
}

.payment-table tr:nth-child(odd) {
  background-color: rgb(175, 175, 175);
}

button {
  background-color: rgb(255, 99, 71);
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(216, 67, 21);
}

.filter-sorting {
  margin-left: 40px;
  padding: 0 0 10px 0;
}

.filter-sorting select {
  margin-left: 5px;
}

.edit-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  z-index: 999;
}

.edit-modal label {
  display: block;
  margin-bottom: 10px;
}

.edit-modal input[type="date"],
.edit-modal input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-modal input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}